In [1]:
import numpy as np
import pandas as pd
import recommender_functions as rf

In [2]:
movies_df = pd.read_csv('./data/movies_clean.csv')
reviews_df = pd.read_csv('./data/train_data.csv')

In [3]:
ranked_df = rf.create_ranked_movies(movies_df,reviews_df)

In [4]:
ranked_df.head()

                             movie      mean  count     latest_ts
421.0            Goodfellas (1990)  9.666667    9.0  1.363098e+09
1550.0        Step Brothers (2008)  9.600000    5.0  1.363266e+09
771.0       American Beauty (1999)  9.600000    5.0  1.363108e+09
1404.0  There Will Be Blood (2007)  9.600000    5.0  1.363088e+09
1834.0          Gran Torino (2008)  9.600000    5.0  1.363067e+09

In [5]:
list(ranked_df['movie'].iloc[:2])

['Goodfellas (1990)', 'Step Brothers (2008)']

In [10]:
rf.find_similiar_movies(4100,movies_df)

[0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0]

'The Champion (1915)'

In [11]:
a = np.array([[1,2,3,4],[5,6,7,8]])

(array([3]),)