In [1]:
import numpy as np
import pandas as pd

import sys
sys.path.append('..')
import recommender_functions as rf
import recommender as rec

In [2]:
movies_df = pd.read_csv('../data/movies_clean.csv')
reviews_df = pd.read_csv('../data/train_data.csv')

del movies_df['Unnamed: 0']
del reviews_df['Unnamed: 0']

In [5]:
list(ranked_df['movie'].iloc[:2])

['Goodfellas (1990)', 'Step Brothers (2008)']

In [4]:
recom = rec.Recommender()
recom.fit('../data/train_data.csv', '../data/movies_clean.csv', iters=10)

Interations 	 | MSE
1 		 | 98152.87702016033
2 		 | 43755.33123036981
3 		 | 25951.90088984129
4 		 | 16829.649030552293
5 		 | 11398.647501344807
6 		 | 7957.659495379421
7 		 | 5700.806989833313
8 		 | 4185.857494329016
9 		 | 3146.8972682379454
10 		 | 2416.5626394805645

In [7]:
recom.make_recs(8)

20115    Django Unchained (2012)
Name: movie, dtype: object

In [6]:
a = rf.create_ranked_movies(movies_df, reviews_df)

In [5]:
a.shape

NameError: name 'a' is not defined

In [7]:
rating_mean = reviews_df.groupby('movie_id')['rating'].mean()
rating_count = reviews_df.groupby('movie_id')['user_id'].count()
rating_latest = reviews_df.groupby('movie_id')['timestamp'].max()

In [8]:
concated = pd.concat([rating_count, rating_latest, rating_mean], axis=1)
concated.columns = ['count', 'timestamp', 'mean']

In [9]:
b = movies_df.merge(concated, left_on='movie_id', right_index=True)
b.shape

(2679, 38)

In [12]:
b = b[["movie", "mean","count","timestamp"]].sort_values(['mean', 'count', 'timestamp'], ascending=False)

In [13]:
b = b[b['count'] > 4]

In [14]:
b.shape

(252, 4)